.navbar {
  padding: 10px;
  background-color: transparent;
}

.NavTitle {
  box-shadow: 0px 10px 10px lightgray;
  background-color: rgb(1, 162, 255);
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-style: double;
  padding: 20px;
}

.links a {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.navbar-brand a {
  display: flex;
  justify-content: flex-start;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.toggle {
  border-width: 0px;
  font-size: 30px;
}

.logOutBtn {
  border-radius: 10px;
  width: 90px;
  border-style: solid;
  background-color: tomato;
  font-weight: bold;
  border-width: 1px;
  border-color: black;
  box-shadow: 0px 10px 10px lightgray;
  margin-top: 15px;
  font-size: 15px;
}
